
#email {
    background-image: url(symbols/email.svg);
	padding-left: 3rem;
	
	background-position: 2px;
	background-repeat: no-repeat;
	background-size: 2rem;
}
lable{
	display: inline;
	
}

.false{
	border: 1px solid red ! important;
}

#passwort {
    background-image: url(symbols/lock.svg);
	padding-left: 3rem;
	
	background-position: 2px;
	background-repeat: no-repeat;
	background-size: 2rem;
}		

input[type=submit]{
	width:100%;
	cursor: pointer; 
}

