
.box:hover {
    background-color: #3c3c3c;
}

.box img {
    width: 20%;
    float: left;
}

.box h2 {
    display: inline;

}



.box > .button {
    display:none;
}
.box:hover > .button {
    display:block;
}