/*Fonts
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@font-face {
    font-family: 'Montserrat-Regular';
    src: local('Montserrat-Regular'), url('/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: local('Montserrat-Bold'), url('/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway-Regular';
    src: local('Raleway-Regular'), url('/fonts/Raleway/Raleway-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Raleway-SemiBold';
    src: local('Raleway-SemiBold'), url('/fonts/Raleway/Raleway-SemiBold.ttf') format('truetype');
}

/*...
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* NOTE
html is set to 62.5% so that all the REM measurements are based on 10px sizing.  Basically 1.5rem = 15px */
html {
    font-size: 62.5%;
}

body {
    font-size: 1.5em;
    letter-spacing: 0.02em;
    line-height: 1.8;
    font-weight: 400;
    font-family: "Montserrat-Regular", Helvetica, Arial, sans-serif;
    color: #fff;
    background-color: #282828;
    margin: 0;
}

a {
    text-decoration: none;
}

/*Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
    position: relative;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.column {
    width: 100%;
    float: left;
    box-sizing: border-box;
}
#background{
	z-index: 0;
}

/* For devices larger than 550px */
@media (min-width: 550px) {
    .container {
        width: 80%;
    }

    .column {
        margin-left: 4%;
    }

    .column:first-child {
        margin-left: 0;
    }

    .one.column {
        width: 4.66666666667%;
    }

    .two.column {
        width: 13.3333333333%;
    }

    .three.column {
        width: 22%;
    }

    .four.column {
        width: 30.6666666667%;
    }

    .five.column {
        width: 39.3333333333%;
    }

    .six.column {
        width: 48%;
    }

    .seven.column {
        width: 56.6666666667%;
    }

    .eight.column {
        width: 65.3333333333%;
    }

    .nine.column {
        width: 74.0%;
    }

    .ten.column {
        width: 82.6666666667%;
    }

    .eleven.column {
        width: 91.3333333333%;
    }

    .twelve.column {
        width: 100%;
        margin-left: 0;
    }

    .one-third.column {
        width: 30.6666666667%;
    }

    .two-thirds.column {
        width: 65.3333333333%;
    }

    .one-half.column {
        width: 48%;
    }

    /* Offsets */
    .offset-by-one.column {
        margin-left: 8.66666666667%;
    }

    .offset-by-two.column {
        margin-left: 17.3333333333%;
    }

    .offset-by-three.column {
        margin-left: 26%;
    }

    .offset-by-four.column {
        margin-left: 34.6666666667%;
    }

    .offset-by-five.column {
        margin-left: 43.3333333333%;
    }

    .offset-by-six.column {
        margin-left: 52%;
    }

    .offset-by-seven.column {
        margin-left: 60.6666666667%;
    }

    .offset-by-eight.column {
        margin-left: 69.3333333333%;
    }

    .offset-by-nine.column {
        margin-left: 78.0%;
    }

    .offset-by-ten.column {
        margin-left: 86.6666666667%;
    }

    .offset-by-eleven.column {
        margin-left: 95.3333333333%;
    }

    .offset-by-one-third.column {
        margin-left: 34.6666666667%;
    }

    .offset-by-two-thirds.column {
        margin-left: 69.3333333333%;
    }

    .offset-by-one-half.column {
        margin-left: 52%;
    }

}

/* Typo
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
    font-family: Raleway-SemiBold, Helvetica, Arial, sans-serif;
    color: #c85532;
    font-size: 4.0rem;
    line-height: 8rem;
    letter-spacing: .1rem;
}

h2 {
    font-family: Raleway-SemiBold, Helvetica, Arial, sans-serif;
    font-size: 2.0rem;
    line-height: 2.4rem;
    letter-spacing: .1rem;
    color: #fff;
    margin-top: 0;
}

p {
    margin: 0;
}

/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */

input {
    font-family: inherit;
    font-size: inherit;
    background-color: inherit;
    color: #fff;
    border: 0;
}

input[type=number],
input[type=text],
input[type=password],
input[type=email] {
    background-color: #2c2c2c;
    border: 1px solid #4c4c4c;
}

input[type=number] {
    width: 5rem;
}

.button {
    background-color: #c85532;
}

header {
    margin-left: 0;
	z-index: 200;
	background-color: #282828;
}

.box {
    background-color: #363636;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

progress {
    width: 100%;
    color: #c85532;
    appearance: none;
    -moz-appearence: none;
    border: none;
    background-color: #2c2c2c;
}

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
    content: "";
    display: table;
    clear: both;
}
